# start dim
# vim: set sts=4 expandtab:

if [ "$IM_CONFIG_PHASE" = 2 ]; then
    /usr/bin/dim &
fi

IM="dim"

if [ -f "/usr/bin/fcitx5" ]; then
    IM="fcitx5"
elif [ -f "/usr/bin/ibus" ]; then
    IM="ibus"
fi

if [ "$IM_CONFIG_PHASE" = 1 ]; then
# set variables for the plain XIM
XMODIFIERS=@im=${IM}

# Let's assume all required modules are installed
GTK_IM_MODULE=dim
QT_IM_MODULE=dim
CLUTTER_IM_MODULE=${IM}
SDL_IM_MODULE=${IM}

# export DISPLAY env for app in x11 or xwayland
export DIM_WAYLAND_DISPLAY=imfakewl

if [ "$XDG_SESSION_TYPE" = "x11" ]; then
    # launch dim fake wayland daemon
    /usr/bin/imwl &
fi

fi
